h2 {
  color: #2b2b2b;
  font-size: 35px;
  line-height: 80px;
 
  font-family: 'Gabriola';
}
.name{
margin-top:-60px;}
a{
  font-family: 'Segoe ui';
  color: #353535;
  font-size: 20px;
}

p {
  font-family: 'Segoe ui';
  color: #878787;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.2px;
}


#service {
  background: #FFFFFF;
  text-align: center;
}

.service-thumb {
  background: #F5F5DC;
  border-radius: 7px;
  padding: 30px;
  height: 220px;
  cursor: url(../images/cursor.cur),auto;
  position: relative;
  top:0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.service-thumb:hover {
  background: #365B80;
  top: -5px;
}

.service-thumb:hover a{
  color: #ffffff;
}

.service-thumb:hover p{
  color: #ffffff;
}
.bl{
	float:left;
	
	max-height: 180px;
	padding-right:0px;
	padding-left:220px;
	width:40%;
	
	}

@media screen ands (max-width: 1024px){
 #service p{
font-size: 8px;
  text-align: center;
}
}
}
